/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

main{
    padding: 0px 20px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

ul {
    list-style-type: none;
}

b {
    font-weight: 700;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: var(--color-blue);
}

.conteneur {
    width: 992px;
    margin: auto;
}

h1{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

h2{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 30px;
}

h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

h4 {
    font-size: 11px;
    margin: 7px 0px;
    width: 220.33px;
    height: 16px;
}

h5 {
    margin: 0px 10px;
    font-size: 16px;
    width: 259.5px;
    height: 19px;
    font-weight: 700;
    line-height: 19px;
}

.sous-titre{
    display: initial;
    font-size: 16px;
    margin-bottom: 35px;
}

p {
    font-size: 10px;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
  }

/* On applique box-sizing à tous les éléments */
* {
    box-sizing: border-box;
}

/* Optimisation du code */
.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#logo {
    display: block;
    padding: 30px 32px;
}

#logo img{
   width: 61px;
}

nav {
    width: auto;
}
.liste-nav {
    display: flex;
}
.liste-nav__objet:first-child {
   margin-right: 69px;
}

.liste-nav__objet:last-child {
    margin-right: 34px;
}

.liste-nav__objet a {
    border-top: solid 2px transparent;
    padding: 16px;
    display: block;

}

.liste-nav__objet a:hover{
    border-top-color: #0065FC;
    color: #0065FC;
}


/* Section recherche */
.recherche {
    margin-bottom: 20px;
    display:grid;

}

.info p{
    font-size: 16px;
    margin-bottom: 0px;
}

#sous-titre {
    margin-top: 0;
    margin-bottom: 20px;
}

form {
    height: 49px;
    margin-bottom: 35px;
}

#logomap {
    background-color:#F2F2F2;
    border:#F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.fas {
    font-size: 14px;
}

input {
    width: auto;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 13px;
    font-weight: bold;
    padding-left: 10px;
}

.recherche__bouton {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:#0065FC;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 0 20px;
    font-weight: bold;
}

.recherche__bouton--logo {
    display: none;
}

.filtres {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.filtres__boutons {
    display: flex;
    flex-wrap: wrap;
}

.filtres__boutons__bouton {
    align-items: center;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding-right: 20px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 10px;
}
.filtres__boutons__bouton:hover {
    background-color: #DEEBFF;
    color: black;
    border-color: #0065FC;
}

.filtres__boutons__bouton__medaille {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 35px;
    width: 35px;
    border: 1px solid transparent;
    border-radius: 35px;
}
.filtres__boutons__bouton__medaille__icone {
    color: #0065FC;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 38px 0;
}

.info__medaille {
    min-width: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.fa-info {
    color: #0065FC;
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.vignettes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.a-vignette {
    display: block;
    width: 31%;
    margin-bottom: 30px;
}

.vignette {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.300);
    align-items: center;
}

.hebimg {
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.cout {
    font-size: 14px;
    margin-bottom: 8px;
}

.plus {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.hebergements h3{
    margin-bottom: 8px;
    font-size: 16px;
}

.vignettes figcaption{
    white-space: nowrap;
    padding: 4px 9px 10px 2px
}

.card-rating i{
    font-size: 14px;
}
/****** Populaires ***********/
.populaires {
    width: 33%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.populaires-title h2{
    margin-bottom: 0px;
}

.populaires-cards .card {
    display: flex;
    margin-bottom: 30px;
}

.populaires-cards .card:last-child{
    margin-bottom: 0;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    flex: 1;
    padding: 10px 10px 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating i{
    font-size: 12px;
}

/* Section ACTIVITES */
.activites {
    margin-top: 65px;
}

.activites > h2{
    margin-left: 45px;
}
.vignettesact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vignettesact > a{
    width: 21.30%;
    display: block;
}

.actimg--h380 {
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.actimg--h380-card2 {
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.figure-act {
    width: 100%;
    margin-bottom: 65px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.300);
}

.vignettesact-h3 {
    max-height: 70px;
    padding: 25px 19px 25px 19px;
    font-size: 16px;
}

.vignettesact-h3-card3-4 {
    max-height: 70px;
    padding: 25px 19px 25px 19px;
    font-size: 16px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color:#F2F2F2;
    padding: 20px 50px;
}

.foot-colonne {
    width: 33%;
}

.foot-lien {
    font-size: 16px;
    margin-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .filtres {
        display:flex;
        align-content:flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filtres__boutons {
        width: 100%;
    }

    .filtres__boutons__bouton {
        margin-top: 20px;
        margin-right: 30px;
        margin-left: 0px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card:last-child {
        margin-bottom: auto;
    }

    .actimg--h380 {
        height: 200px;
    }

    .actimg--h380-card2 {
        height: 200px ;
    }
    
    .vignettesact-h3-card3-4 {
        padding: 25px 19px 25px 19px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        width: 100%;
    }
    .liste-nav__objet a:hover{
        border-top-color: transparent;
        border-bottom: solid 3px #0065FC;
        color: #0065FC;

    }
    .liste-nav__objet:first-child{
        width: 50%;
        margin-right: 0px;
    }
    .liste-nav__objet:last-child{
        width: 50%;
        margin-right: 0px;
    }
    .liste-nav__objet a{
        width: 100%;
        padding: 2rem;
        border-bottom: solid 3px #F2F2F2;
        text-align: center;
        justify-content: center;
    }
    .recherche__bouton--texte {
        display: none;
    }
    .recherche__bouton--logo {
        display: block;
    }
    .recherche__bouton {
        border-radius: 15%;
        width: 15%;
        padding: 0;
    }
    #logomap {
        width: 15%;
        height: 49px;
    }
    input {
        width: 65%;
    }
    .filtres__boutons__bouton {
        gap: 10px;
        width: 48%;
        margin-right: 5px;

    }
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-content: space-between;
        margin-left: -20px;
        margin-right: -20px;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }
    .populaires-cards .card {
        width: auto;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .a-vignette {
        width: 100%;
    }
    .vignettes {
        justify-content: center;
    }
   .hebergements {
    background-color: transparent;
   }
   .vignettesact > a {
    width: 100%;
    display: block;
   }
   .vignettesact {
    display: flex;
    flex-direction: column;
   }
   .activites > h2 {
    margin-left: 0px;
   }
   footer {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
   }
   .foot-colonne {
    width: 100%;
    margin-bottom: 50px;
   }
}